<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-sun"></i> <span>My Sunstats</span></a>
  </div>

  <div class="clearfix"></div>
  <br/>

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li class="time-button" value="today"><a><i class="fas fa-calendar"></i> Today </span></a>
        </li>
        <li class="time-button" value="yesterday"><a><i class="fas fa-calendar"></i> Yesterday </a>
        </li>
        <li class="time-button" value="last_seven_days"><a><i class="fas fa-calendar"></i> Last Seven Days </a>
        </li>
        <li class="time-button" value="this_month"><a><i class="fas fa-calendar"></i> This Month </a>
        </li>
        <li class="time-button" value="last_month"><a><i class="fas fa-calendar time-button"></i> Last Month </a>
        </li>
        <li class="time-button" value="this_year"><a><i class="fas fa-calendar time-button"></i> This Year </a>
        </li>
        <li class="time-button" value="last_year"><a><i class="fas fa-calendar time-button"></i> Last Year </a>
        </li>        
      </ul>
    </div>
  </div>
</div>
