<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Solar Stats{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="static/dashboard.css" rel="stylesheet">

    <!-- Javascript Imports -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
</head>
<body>
    {% block content %}

    BODY CONTENT GOES HERE

    {% endblock %}

<script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</body>
</html>
